{{- $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
{{- $Permalink := .Destination | relURL | safeURL -}}
{{- $alt := .PlainText | safeHTML -}}
{{- $Width := 0 -}}
{{- $Height := 0 -}}
{{- $Srcset := "" -}}

{{/* 判斷內部圖片與外部圖片 */}}
{{- $isExternal := or (ne (path.Ext .Destination) ".svg") (ne (path.Ext .Destination) ".jpg") }}

{{- $galleryImage := false -}}

{{- if $image -}} 
    {{- $Permalink = $image.RelPermalink -}}
    {{- $Width = $image.Width -}}
    {{- $Height = $image.Height -}}
    {{- $galleryImage = true -}}

    {{- if (default true .Page.Site.Params.imageProcessing.content.enabled) -}}
        {{- $small := $image.Resize `480x` -}}
        {{- $big := $image.Resize `1024x` -}}
        {{- $Srcset = printf `%s 480w, %s 1024w` $small.RelPermalink $big.RelPermalink -}}
    {{- end -}}
{{- else if $isExternal -}} 
    <!-- 處理外部圖片 -->
    {{- $Permalink = .Destination -}} <!-- 直接使用外部圖片的 URL -->
    {{- $galleryImage = true -}} 
    {{- $Width = 800 -}} <!-- 設定一個預設寬度 -->
    {{- $Height = 600 -}} <!-- 設定一個預設高度 -->
{{- end -}}

<!-- 設置圖片標籤 -->
<img src="{{ $Permalink }}"
    {{ with $Width }}width="{{ . }}"{{ end }}
    {{ with $Height }}height="{{ . }}"{{ end }}
    {{ with $Srcset }}srcset="{{ . }}"{{ end }}
    loading="lazy"
    {{ with $alt }}
        alt="{{ . }}"
    {{ end }}
    {{ if $galleryImage }}
        class="gallery-image" 
        data-flex-grow="{{ div (mul $Width 100) $Height }}"
        data-flex-basis="{{ div (mul $Width 240) $Height }}px"
    {{ end }}
>
