<<<<<<< HEAD
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

pre {
  /* background-color: #f8f9fa; */
  padding: 15px;
  /* border: 1px solid #dee2e6; */
  border-radius: 0.25rem;
  overflow-x: auto;
}
=======
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

pre {
  /* background-color: #f8f9fa; */
  padding: 15px;
  /* border: 1px solid #dee2e6; */
  border-radius: 0.25rem;
  overflow-x: auto;
}
>>>>>>> 6984ff432b49b8561aaf51e2c424e80cb86f290a
